@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Sora';
  src: url('~@assets/fonts/sora/Sora-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
