// colors
$main-color: #D23A3A;
$white: #fff;
$black: #0C011D;

// old colors
$blue-light: #004983;
$red-light: #F12F23;
$green: #1D9772;

// fonts
$font-size-xl: 50px;
$font-size-lg: 40px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-xs: 16px;

$font-size-dropdown: 24px;

$border-default: 2px solid black;
